.modal-body {
    font-size: 4vh;
}

::ng-deep .modal-content {
    margin: auto;
    width: 60%;
}

p {
    border-radius: 0.5vh;
    box-shadow: inset 0 0 3px black;
    padding: 1vh;
}

.content {
    padding: 1vh;
    font-size: 2vh;
}

::ng-deep modal-component {
    background-color: linen;
    background-color: linen;
    box-shadow: 0 0 10px 3px black;
    border-radius: 1vh;
}

::ng-deep .modal.show .modal-dialog {
    top: 30%;
}

::ng-deep .modal-header {
    display: inherit;
    padding: 0px;
    width: 95%;
}

@media only screen and (max-width: 2560px) {
     ::ng-deep .modal-dialog {
        position: relative;
        margin: .5rem;
        pointer-events: none;
        min-width: 100%!important;
        min-height: 40%!important;
    }
     ::ng-deep .modal-lg,
    .modal-xl {
        max-width: 100%;
        max-height: 40%;
    }
}

.button {
    position: relative;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    overflow: auto;
    cursor: pointer;
    border-radius: 1vh;
    font-size: 2.4vh;
    box-shadow: inset 0 0 4px black;
    padding: 1.2vh;
    overflow: hidden;
    background-color: white;
    margin: 2.5vh 0.5vh 2.5vh;
    width: 30%;
}

.btnBack:active {
    box-shadow: inset 0 0 4px black;
    background-color: #C5E1A4;
    opacity: 0.9;
    transition: all 0.8s;
}

.button:after {
    overflow: hidden;
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:hover {
    color: black;
    background-color: #afd100;
    box-shadow: inset 0 0 2px white;
    transition: all 0.8s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}