.btn-group,
.mainContain,
.divBtnMain {
    width: 100%;
    padding-top: 2vh;
    display: inline-block;
    margin: auto;
}

.navbar {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: linear-gradient(to right, #afcf00, mediumseagreen);
}

.container-fluid {
    background-color: #F1F8E9;
    width: 70%;
    height: 100%;
    padding-top: 2vh;
    border-radius: 1vh;
    overflow: auto;
}

.btnBack {
    display: inline;
    padding: 1vh;
    border: none;
    background-color: #afcf40;
    box-shadow: 0 0 3px black;
    font-size: 4vh;
    margin-left: 1vh;
}

.btnBack:hover {
    color: blue;
    cursor: pointer;
}

::ng-deep .btn {
    position: relative;
    background-color: #C5E1A5;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    overflow: auto;
    cursor: pointer;
    border-radius: 1vh;
    font-size: 3.4vh;
    box-shadow: inset 0 0 4px black;
    padding: 1.2vh;
    margin-top: 1vh;
    overflow: hidden;
    display: inline-block;
}

.btnBack:active {
    box-shadow: inset 0 0 4px black;
    background-color: #C5E1A4;
    opacity: 0.9;
    transition: all 0.8s;
}

.btn:after {
    overflow: hidden;
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:hover {
    color: black;
    background-color: #afd100;
    box-shadow: inset 0 0 2px white;
    transition: 0s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

a.navbar-brand {
    width: 100%;
}

.isActive {
    background-color: #afd100;
    box-shadow: inset -2px -1px 5px 1px black;
}

.main {
    background-color: #DCEDC8;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.nameNav {
    text-shadow: 0 0 0.1vh black;
    font-size: 4.4vh;
    display: inline;
}

@media only screen and (min-width: 2000px) {
    .container-fluid {
        width: 72%;
    }
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        width: 100%;
        padding: 0px;
    }
}