<div class="main">
    <nav class="navbar sticky-top navbar-light navbar-expand-sm">
        <a class="navbar-brand">
            <button type="button" class="btnBack" aria-label="Left Align">
                <i class="fa fa-chevron-left" (click)="goBack()"></i>
            </button>
            <span class="nameNav"> Customer Case</span>
        </a>
    </nav>
    <div class="container-fluid">
        <div class="mainContain row" *ngIf="!router.url.includes('pageDetails')">
            <button class="btn btnMain col-xs-12 col-md-6" type="button" [routerLinkActive]="['isActive']" [routerLink]="['/pageSearch']">
                <span class="iconBtn"><i class="fa fa-search"></i></span> Find Case
            </button>
            <button class="btn btnMain col-xs-12 col-md-6" type="button" [routerLinkActive]="['isActive']" [routerLink]="['/pageCreate']">
                <span class="iconBtn"> <i class="fa fa-file-text-o"></i></span> New Case
            </button>
        </div>
        <div class="row">
            <div class="col-12 mainComponent">
                <app-loader></app-loader>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>