<div class="container-fluid box-search">

    <p class="textHead col-12 ">ค้นหาข้อมูล Case ลูกค้า
    </p>
    <div class="text-center ">
        <div class="groupBtn row">
            <div class="input-group col-xs-12 col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date From</span>
                </div>
                <input type="text" value="" class="input-text dateInput" [disabled]="caseID.length > 0" [bsConfig]="{ customTodayClass: 'custom-today-class', isAnimated: true ,dateInputFormat: 'DD-MM-YYYY',autoclose: true}" bsDatepicker readonly [(ngModel)]="dateStart"
                    (ngModelChange)="onInputChange()" [maxDate]="dateNow" name="dateStartchk">
            </div>
            <div class="input-group col-xs-12 col-md-6 ">
                <div class="input-group-prepend">
                    <span class="input-group-text ">Date To</span>
                </div>
                <input type="text" value="" class="input-text dateInput" [disabled]="caseID.length > 0" [bsConfig]="{ customTodayClass: 'custom-today-class',isAnimated: true,dateInputFormat: 'DD-MM-YYYY',autoclose: true}" bsDatepicker readonly [(ngModel)]="dateStop"
                    (ngModelChange)="onInputChange()" [minDate]="dateStart" [maxDate]="dateNow" name="dateStopchk">
            </div>

            <div class="input-group  col-xs-12 col-md-12">
                <div class="input-group-prepend textID">
                    <span class="input-group-text">Case Id</span>
                </div>
                <input type="text" class="input-text inputID" [(ngModel)]="caseID" name="caseIDs" minlength="14" maxlength="14" required [disabled]="dateStart.length != 0 || dateStop.length != 0" (keypress)="keyPress($event)" (ngModelChange)="onInputChange()">
            </div>
            <div class="input-group col-xs-12 col-md-12">
                <div class="textID"></div>
                <div *ngIf="caseID.length > 0 && caseID.length < 14" class="input-text inputID alertText ">
                    <span> ใส่ได้เฉพาะ a-z และ 0-9 (14หลัก)</span>
                </div>
            </div>

        </div>

        <div class="groupBtn row">
            <div class="col-xs-2 col-md-4"></div>
            <div class="col-xs-10 col-md-8">
                <button class="button" type="button" (click)="clear()"><i class="fa fa-undo"></i>
                    Clear
                </button>
                <button class="button" type="button" [disabled]="!btnSend" (click)="searchCase()">
                    <i class="fa fa-search"></i>
                    Search
                </button>

            </div>
        </div>
    </div>
</div>