<div class="cardMain">
    <div class="pull-right"><i class="fa fa-search"></i> search :
        <input #search id="search" type="search" class=" py-2 border-left-0 border" />
    </div>
    <ngx-datatable class="material striped" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'40'" [limit]="10">
        <ngx-datatable-column [resizeable]="true" [sortable]="true" [draggable]="true" [canAutoResize]="true" name="caseID" prop="caseID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="btnLink" (click)="openModalImage(row.image)">{{row.caseID}}</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="true" [sortable]="true" [draggable]="true" [canAutoResize]="true" name="Topic" prop="Topic">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="btnLink" (click)="openModalImage(row.image)">{{row.topic}}</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="true" [sortable]="true" [draggable]="true" [canAutoResize]="true" name="description" prop="description">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span style="text-overflow:ellipsis;">{{row.description}}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="true" [sortable]="true" [draggable]="true" [canAutoResize]="true" name="CreateDate" prop="CreateDate">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <p>{{row.CreateDate}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="true" [sortable]="true" [draggable]="true" [canAutoResize]="true" name="CreateBy" prop="CreateBy">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.CreateBy}}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="true" [sortable]="true" [draggable]="true" [canAutoResize]="true" name="statusCase" prop="statusCase">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.statusCase}}</span>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>

<div class="cardMobile" *ngFor="let item of rows;index as i;">
    <div class="cardDetails">
        <hr>
        <div class="row">
            <div class="col-12">
                <p class="pl-2"><b class="textCase">Case ID : </b>
                    <span> {{item.caseID}}</span></p>
            </div>
            <div class="col-6">
                <p class="pl-2"><b class="textCase">Topic : </b><span>{{item.topic}}</span></p>
            </div>
            <div class="col-6">
                <p class="pl-2"><b class="textCase">Status : </b><span [ngClass]="{'Immediately': item.statusCase === 'Immediately', 'Urgent':  item.statusCase === 'Urgent', 'Normal':  item.statusCase === 'Normal'}">{{item.statusCase}}</span>
                </p>
            </div>
            <div [collapse]="!item.caseIDs" [isAnimated]="true">
                <div class="col-12">
                    <p class="pl-2"><b class="textCase">Date Create : </b><span> {{item.CreateDate}}</span></p>
                </div>
                <div class="col-12">
                    <p class="pl-2"><b class="textCase">Description : </b><span> {{item.description}} </span></p>

                </div>
                <div class="col-12">
                    <carousel>
                        <slide *ngFor="let item of item.image">
                            <img [src]="item.src" style="display: block; width: 220px;height: 220px;margin: auto;padding: 6vh;">
                        </slide>
                    </carousel>
                </div>


            </div>

        </div>
        <p class="textHead col-12 " (click)="item.caseIDs= !item.caseIDs"><span class="btnDetails">Details <i
                    [ngClass]="(item.caseIDs) ? 'fa fa-sort-up' : 'fa fa-sort-down'"></i></span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
    </div>
    <div class="col-6">
    </div>
    <div class="col-6">
        <div class="text-center">
            <button class="button" type="button" [disabled]="!btnLoadexcel" (click)="exportAsXLSX()">
                <i class="fa fa-save"></i>
                Download File
            </button>


        </div>
    </div>
</div>